{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle voiture{% endblock %}

{% block body %}
    Création d'une nouvelle voiture :

    <br>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
